<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VidoixHUB.RPA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <VidoixHUB.RPA.Properties.Settings>
            <setting name="Clients" serializeAs="String">
                <value>[]</value>
            </setting>
            <setting name="LastId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>575</value>
            </setting>
            <setting name="Heigth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ErrorWaitTime" serializeAs="String">
                <value>10</value>
            </setting>
        </VidoixHUB.RPA.Properties.Settings>
    </userSettings>
</configuration>